<!-- load the d3.js library -->    
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<div class="row repo-commits">
	<div class="col-md-8">
		<h3> <%= @repo['name']%> </h3>
	</div>
	<div class="col-md-4 text-right">
		<%= link_to "Repositories", repositories_path %>
	</div>
	<div class="col-md-12">
		<hr/>
		<p><%= @repo['description'] %></p>
	</div>
</div>

<br/>
<div class="card">
	<div class="card-header">Commits History Graph</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-3">
				<label> Select commits history date range </label>
			</div>
			<div class="col-md-9">
				<input type="text" name="daterange" value="<%= @since_date.strftime("%m/%d/%Y") %> - <%= @until_date.strftime("%m/%d/%Y") %>" class="form-control" />
			</div>
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-sm-12">
				<!-- Image loader -->
				<div id='loader' style='display: none;' class="text-center">
					<%= image_tag 'reload.gif', size: '300x200' %>
				</div>
				<!-- Image loader -->
				<div class="err text-center"></div>
				<div id="d3_commits_graph"></div>
			</div>
		</div>	
	</div> 
</div>


<script>
	$(function() {
		repo_name = "<%= params[:id] %>";
		start_date = "<%= @since_date.strftime("%Y-%m-%d") %>";
		end_date = "<%= @until_date.strftime("%Y-%m-%d") %>";
		$('input[name="daterange"]').daterangepicker({
			locale: {
				format: 'yy-mm-dd'
			}
		}, function(start, end, label) {
			start_date = start.format('YYYY-MM-DD');
			end_date = end.format('YYYY-MM-DD');
			getCommitsHistory(start_date, end_date, repo_name);
		});
		getCommitsHistory(start_date, end_date, repo_name);
	});
</script>